{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-center items-center h-screen">
        <div class="col-md-3">
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1 class="text-6xl text-center pb-12">
                Edit Profile
            </h1>
            <hr>

            <div class="mb-3 text-center">
                <label for="profileImage" class="form-label">Profile Image</label>
                <div>
                    <img src="{{ user.profileImage ? asset(user.profileImage) : asset('img/profilepic.png') }}" alt="Profile Image" id="image" class="img-fluid rounded-circle mx-auto" style="max-width: 150px; max-height: 150px;">
                </div>
            </div>

            {{ form_start(form) }}
            {{ form_widget(form) }}

            <div class="d-flex justify-content-between mt-4">
                <a href="{{ path('app_profile') }}" class="btn btn-outline-dark">Back Profile</a>
                <button type="submit" class="btn btn-dark">Save Changes</button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
