{# templates/reset_password/change_password.html.Twig #}

{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}


    {% block stylesheets %}
        {{ parent() }}
{#        <style>#}
{#            .form-control.is-invalid {#}
{#                border-color: red;#}
{#            }#}
{#            .alert-danger {#}
{#                color: red;#}
{#            }#}
{#        </style>#}
    {% endblock %}
    <div class="container">
        <div class="row justify-content-center align-items-center min-vh-100">
            <div class="col-md-6">
                <h1 class="text-center mb-4">Change Password</h1>
                <hr>
                {{ form_start(changePasswordForm) }}
                <div class="mb-3">
                    <p class="text-muted">Must contain at least one letter.</p>
                    <p class="text-muted">Must contain at least one digit.</p>
                    <p class="text-muted">At least one of -, _, or . characters is allowed.</p>
                    <p class="text-muted">Total length must be more than 5 characters.</p>
                    {{ form_label(changePasswordForm.currentPassword, 'Current Password') }}
                    {{ form_widget(changePasswordForm.currentPassword) }}
                    <br>
                    {% for error in changePasswordForm.currentPassword.vars.errors %}
                        <div class="alert alert-danger">{{ error.message }}</div>
                    {% endfor %}

                </div>
                <div class="mb-3">
                    {{ form_label(changePasswordForm.plainPassword.first, 'New Password') }}
                    {{ form_widget(changePasswordForm.plainPassword.first) }}
                    <br>
                    {% for error in changePasswordForm.plainPassword.first.vars.errors %}
                        <div class="alert alert-danger">{{ error.message }}</div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    {{ form_label(changePasswordForm.plainPassword.second, 'Repeat New Password') }}
                    {{ form_widget(changePasswordForm.plainPassword.second) }}
                    <br>
                    {% for error in changePasswordForm.plainPassword.second.vars.errors %}
                        <div class="alert alert-danger">{{ error.message }}</div>
                    {% endfor %}
                </div>
                <div>
                    <a href="{{ path('app_profile') }}" class="btn btn-outline-dark">Back to Profile</a>
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
                {{ form_end(changePasswordForm) }}
            </div>
        </div>
    </div>
{% endblock %}
