{% extends 'base.html.twig' %}

{% block title %}Notifications{% endblock %}

{% block body %}
    <br>
    <br>
    <br>
    <style>

        .container {
            font-size: 24px;
        }

        footer {
            margin-top: 750px;
        }


        .custompagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            text-align: center;

        }
        .unread {
            background-color: #b9b7b7;
            font-weight: bold;
            border: 2px solid #b9b7b7;
            padding: 10px;
        }

    </style>
    <div class="container">
        <h1 class="mt-5">Notification</h1>
        <hr>
        <div class="aside-block">

            <!-- User Notification -->

            {% if notifications is not empty %}
                {% for notification in notifications %}
                    <ul class="list-group mt-3">
                        <a href="{{ path('app_redirect_notification', {id: notification.id}) }}">
                            <li class="list-group-item{% if not notification.isread %} unread{% endif %}" style="border-radius: 7px;">
                                <div style="font-size: 30px"> {{ notification.content }}</div>
                                <div class="row">
                                    <div class="col-6 text-left">
                                        <strong>Time:</strong> {{ notification.addedat|date('H:i') }}
                                    </div>
                                    <div class="col-6 text-right">
                                        <strong>Date:</strong> {{ notification.addedat|date('d M Y') }}
                                    </div>
                                </div>
                            </li>
                        </a>
                    </ul>
                {% endfor %}

            {% else %}
                <div class="alert alert-info mt-3">No notifications yet.</div>
            {% endif %}

            <div class="custom-pagination">
                {{ knp_pagination_render(notifications) }}
            </div>

        </div>
    </div>
    <!-- End User Notification -->

{% endblock %}