{# templates/homepage/category.html.Twig #}
{#{% extends 'base.html.twig' %}#}

{#{% block content %}#}
{#<div class="container">#}
{#    <h1>{{ categorySlug|capitalize }} News</h1>#}

{#    {% if categoryNews is empty %}#}
{#    <p>No news articles found for this category.</p>#}
{#    {% else %}#}
{#        {% for news in categoryNews %}#}
{#            <div class="d-lg-flex post-entry-2">#}
{#                <a href="{{ path('app_post', {'id': news.id}) }}" class="me-4 mb-4 mb-lg-0 d-inline-block">#}
{#                    <img src="{{ news.image is empty ? asset('') : asset(news.image) }}" alt="" class="img-fluid">#}
{#                </a>#}
{#                <div>#}
{#                    <div class="post-meta">#}
{#                        <span class="date">{{ news.category.categoryname }}</span>#}
{#                        <span class="mx-1">&bullet;</span>#}
{#                        <span>{{ news.publishedAt|date('M jS Y') }}</span>#}
{#                    </div>#}
{#                    <hr>#}
{#                    <span class="author mb-3 d-block">{{ news.author.name }} {{ news.author.surname }}</span>#}
{#                    <h3><a href="{{ path('app_post', {'id': news.id}) }}">{{ news.title }}</a></h3>#}
{#                    <p>{{ news.content|slice(0, 400) }}...</p>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#    {% endif#}
{#    </div>#}
{#    {% endblock %}#}
