{% extends  'base.html.twig' %}


{% block title %}NEWS{% endblock %}

{% block body %}
    <style>
        .thumbnail img {
            max-height: 400px;
            width: auto;
        }

    </style>
    <main id="main">

        <!-- ======= Hero Slider Section ======= -->
        <div id="carouselExampleCaptions" class="carousel slide">
            {% for message in app.flashes('register') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="col-12">
                <div class="carousel-indicators">

                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        {% set new = popularNews|slice(0, 1)|first %}
                        {% if new is not empty %}

                        <a href="{{ path('app_post',{'id': new.id}) }}" class="d-block w-100">
                            <img src="{{ asset(new.image) }}" class="d-block w-100" alt="1"
                                 style="object-fit: cover; max-height: 80vh; max-width: 100%;"/>
                            <div class="carousel-caption d-none d-md-block text-bg-dark">
                                <h2>{{ new.title }}</h2>
                                <p>{{ new.content|slice(0, 400) }}</p>
                            </div>
                        </a>
                    </div>
                    {% else %}
                    {% endif %}
                    <div class="carousel-item">
                        {% set new = popularNews|slice(1, 2)|first %}
                        {% if new is not empty %}

                        <a href="{{ path('app_post',{'id': new.id}) }}" class="d-block w-100">
                            <img src="{{ asset(new.image) }}" class="d-block w-100" alt="2"
                                 style="object-fit: cover; max-height: 80vh; max-width: 100%;"/>
                            <div class="carousel-caption d-none d-md-block text-bg-dark">
                                <h2>{{ new.title }}</h2>
                                <p>{{ new.content|slice(0, 400) }}</p>
                            </div>
                        </a>
                    </div>
                    {% else %}
                    {% endif %}
                    <div class="carousel-item">
                        {% set new = popularNews|slice(2, 3)|first %}
                        {% if new is not empty %}

                        <a href="{{ path('app_post',{'id': new.id}) }}" class="d-block w-100">
                            <img src="{{ asset(new.image) }}" class="d-block w-100" alt="3"
                                 style="object-fit: cover; max-height: 80vh; max-width: 100%;"/>
                            <div class="carousel-caption d-none d-md-block text-bg-dark">
                                <h2>{{ new.title }}</h2>
                                <p>{{ new.content|slice(0, 400) }}</p>
                            </div>
                        </a>
                    </div>
                </div>

                {% else %}
                {% endif %}
                <div class="swiper-pagination"></div>

            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>


        <!-- End Hero Slider Section -->

        <!-- ======= Post Grid Section ======= -->
        <section id="posts" class="posts">
            <div class="container" data-aos="fade-up">
                <div class="row g-5">
                    <div class="col-lg-4">
                        <div class="post-entry-1 lg">
                            {% set new = popularNews|slice(3)|first %}
                            {% if new is not empty %}

                                <a href="{{ path('app_post',{'id':new.id}) }}"><img src="{{ asset(new.image) }}" alt=""
                                                                                    class="img-fluid"></a>
                                <div class="post-meta"><span class="date">{{ new.category.categoryname }}</span> <span
                                            class="mx-1">&bullet;</span>
                                    <span>{{ new.publishedAt|date('M jS Y') }}</span></div>
                                <h2><a href={{ path('app_post',{'id':new.id}) }}>{{ new.title }}</a>
                                </h2>
                                <p class="mb-4 d-block">{{ new.content|slice(0, 400) }}...</p>

                                <div class="d-flex align-items-center author">
                                    <div class="photo"><img src="{{ asset(new.author.profileimage) }}" alt=""
                                                            class="img-fluid">
                                    </div>
                                    <a href="{{ path('app_public_profile',{'id':new.author.id}) }}">

                                        <div class="name">
                                            <h3 class="m-0 p-0">{{ new.author.name }} {{ new.author.surname }}</h3>
                                        </div>
                                    </a>
                                </div>
                            {% else %}
                            {% endif %}
                        </div>

                    </div>

                    <div class="col-lg-8">
                        <div class="row g-5">
                            <div class="col-lg-4 border-start custom-border">
                                {% set new = popularNews|slice(4, 5)|first %}
                                {% if new is not empty %}

                                    <div class="post-entry-1">
                                        <a href="{{ path('app_post',{'id':new.id}) }}"><img
                                                    src="{{ asset(new.image) }}" alt=""
                                                    class="img-fluid"></a>
                                        <a href="{{ path('app_public_profile',{'id':new.author.id}) }}">

                                            <div class="post-meta">{{ new.author.name }} {{ new.author.surname }}</div>
                                        </a>
                                        <div class="post-meta"><span class="date">{{ new.category.categoryname }}</span>
                                            <span
                                                    class="mx-1">&bullet;</span>
                                            <span>{{ new.publishedAt|date('M jS Y') }}</span></div>
                                        <h2><a href="{{ path('app_post',{'id':new.id}) }}">{{ new.title }}</a></h2>
                                    </div>

                                {% else %}
                                {% endif %}
                                {% set new = popularNews|slice(5, 6)|first %}
                                {% if new is not empty %}

                                <div class="post-entry-1">
                                    <a href="{{ path('app_post', {'id': new.id}) }}">
                                        <img src="{{ new.image is empty ? asset('') : asset(new.image) }}" alt=""
                                             class="img-fluid">
                                    </a>
                                    <a href="{{ path('app_public_profile',{'id':new.author.id}) }}">

                                        <div class="post-meta">{{ new.author.name }} {{ new.author.surname }}</div>
                                    </a>
                                    <div class="post-meta"><span class="date">{{ new.category.categoryname }}</span>
                                        <span
                                                class="mx-1">&bullet;</span>
                                        <span>{{ new.publishedAt|date('M jS Y') }}</span>
                                    </div>
                                    <h2><a href="{{ path('app_post',{'id':new.id}) }}">{{ new.title }}</a></h2>
                                </div>

                            </div>
                            {% else %}
                            {% endif %}
                            <div class="col-lg-4 border-start custom-border">
                                {% set new = popularNews|slice(6, 7)|first %}
                                {% if new is not empty %}
                                    <div class="post-entry-1">
                                        <a href="{{ path('app_post',{'id':new.id}) }}">
                                            <img src="{{ new.image is empty ? asset('') : asset(new.image) }}" alt=""
                                                 class="img-fluid">

                                        </a>
                                        <a href="{{ path('app_public_profile',{'id':new.author.id}) }}">

                                            <div class="post-meta">{{ new.author.name }} {{ new.author.surname }}</div>
                                        </a>
                                        <div class="post-meta"><span class="date">{{ new.category.categoryname }}</span>
                                            <span
                                                    class="mx-1">&bullet;</span>
                                            <span>{{ new.publishedAt|date('M jS Y') }}</span>
                                        </div>
                                        <h2><a href="{{ path('app_post',{'id':new.id}) }}">{{ new.title }}</a></h2>
                                    </div>
                                {% else %}
                                {% endif %}
                                {% set new = popularNews|slice(7, 8)|first %}
                                {% if new is not empty %}

                                <div class="post-entry-1">
                                    <a href="{{ path('app_post',{'id':new.id}) }}"><img
                                                src="{{ new.image is empty ? asset('') : asset(new.image) }}" alt=""
                                                class="img-fluid"></a>
                                    <a href="{{ path('app_public_profile',{'id':new.author.id}) }}">

                                        <div class="post-meta">{{ new.author.name }} {{ new.author.surname }}</div>
                                    </a>
                                    <div class="post-meta"><span class="date">{{ new.category.categoryname }}</span>
                                        <span
                                                class="mx-1">&bullet;</span>
                                        <span>{{ new.publishedAt|date('M jS Y') }}</span>
                                    </div>
                                    <h2><a href="{{ path('app_post',{'id':new.id}) }}">{{ new.title }}</a></h2>
                                </div>
                            </div>

                            {% else %}
                            {% endif %}
                            <!-- Latest Section -->
                            <div class="col-lg-4 border-start custom-border">

                                <div class="trending">
                                    <h3>Latest</h3>
                                    <ul class="trending-post">
                                        {% for new in latestNews %}
                                            {% if new is not empty %}

                                                <li>
                                                    <a href="{{ path('app_post', {'id': new.id}) }}">
                                                        <span class="number">{{ loop.index }}</span>
                                                        <h3>{{ new.title }}</h3>
                                                        <div class="post-meta"><span
                                                                    class="date">{{ new.category.categoryname }}</span>
                                                            <span
                                                                    class="mx-1">&bullet;</span>
                                                            <span>{{ new.publishedAt|date('M jS Y') }}</span>
                                                        </div>

                                                        <span class="author">{{ new.author.name }} {{ new.author.surname }}</span>
                                                    </a>
                                                </li>
                                            {% else %}
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <!-- End Latest Section -->
                        </div>


                    </div>

                </div> <!-- End .row -->
            </div>
        </section> <!-- End Post Grid Section -->

        <!-- ======= Sports Category Section ======= -->
        <section class="category-section">
            <div class="container" data-aos="fade-up">

                <div class="section-header d-flex justify-content-between align-items-center mb-5">
                    <h2>Health</h2>
                    <div><a href="" class="more"></a></div>
                </div>

                <div class="row">
                    <div class="col-md-9 order-md-2">
                        {% for new in healthNews|slice(0, 4) %}
                            {% if new is not empty %}
                                <div class="d-md-flex post-entry-2 half">
                                    <a href="{{ path('app_post', {'id': new.id}) }}">
                                        {% if new.image is not empty %}
                                            <img src="{{ asset(new.image) }}" alt="" class="img-fluid"
                                                 style="padding: 10px; max-width: 300px; max-height: 400px;">
                                        {% else %}
                                            <div style="width: 300px; height: 300px; background-color: #ffffff;"></div>
                                        {% endif %}
                                    </a>
                                    <div>
                                        <div class="post-meta"><span
                                                    class="date">{{ new.category.categoryname }}</span>
                                            <span
                                                    class="mx-1">&bullet;</span>
                                            <span>{{ new.publishedAt|date('M jS Y') }}</span>
                                        </div>
                                        <h3><a href="{{ path('app_post',{'id':new.id}) }}">
                                                {{ new.title }}</a></h3>
                                        <p>{{ new.content|slice(0, 250) }}...</p>
                                        <div class="d-flex align-items-center author">

                                            <a href="{{ path('app_public_profile',{'id':new.author.id}) }}">
                                                <div class="photo">
                                                    {% if new.author.profileImage is not empty %}
                                                        <img src="{{ asset(new.author.profileImage) }}" alt=""
                                                             class="img-fluid">
                                                    {% endif %}
                                                </div>
                                                <div class="name">
                                                    <h3 class="m-0 p-0">{{ new.author.name }} {{ new.author.surname }}</h3>
                                                </div>
                                            </a>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            {% else %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-lg-3">
                        {% for new in healthNews|slice(4, 12) %}
                            {% if new is not empty %}

                                <div class="post-entry-1 border-bottom">
                                    <div class="post-meta"><span
                                                class="date">{{ new.category.categoryname }}</span> <span
                                                class="mx-1">&bullet;</span>
                                        <span>{{ new.publishedAt|date('M jS Y') }}</span></div>
                                    <a href="{{ path('app_public_profile',{'id':new.author.id}) }}">
                                        <span class="author mb-3 d-block">{{ new.author.name }} {{ new.author.surname }}</span>
                                    </a>
                                    <h2 class="mb-2"><a href="{{ path('app_post',{'id':new.id}) }}">
                                            {{ new.title }}
                                        </a></h2>
                                </div>
                            {% else %}
                            {% endif %}
                        {% endfor %}
                    </div>


                </div>
            </div>
        </section>
        <!-- End Sports Category Section -->


        <!-- ======= Finance Category Section ======= -->
        <section class="category-section">
            <div class="container" data-aos="fade-up">

                <div class="section-header d-flex justify-content-between align-items-center mb-5">
                    <h2>Politics</h2>
                    <div><a href="" class="more"></a></div>
                </div>

                <div class="row">
                    <div class="col-md-9 order-md-2">
                        {% for new in politicsNews|slice(0, 4) %}
                            {% if new is not empty %}
                                <div class="d-md-flex post-entry-2 half">
                                    <a href="{{ path('app_post', {'id': new.id}) }}">
                                        {% if new.image is not empty %}
                                            <img src="{{ asset(new.image) }}" alt="" class="img-fluid"
                                                 style="padding: 10px; max-width: 300px; max-height: 400px;">
                                        {% else %}
                                            <div style="width: 300px; height: 300px; background-color: #ffffff;"></div>
                                        {% endif %}
                                    </a>
                                    <div>
                                        <div class="post-meta"><span
                                                    class="date">{{ new.category.categoryname }}</span>
                                            <span
                                                    class="mx-1">&bullet;</span>
                                            <span>{{ new.publishedAt|date('M jS Y') }}</span>
                                        </div>
                                        <h3><a href="{{ path('app_post',{'id':new.id}) }}">
                                                {{ new.title }}</a></h3>
                                        <p>{{ new.content|slice(0, 250) }}...</p>
                                        <div class="d-flex align-items-center author">

                                            <a href="{{ path('app_public_profile',{'id':new.author.id}) }}">
                                                <div class="photo">
                                                    {% if new.author.profileImage is not empty %}
                                                        <img src="{{ asset(new.author.profileImage) }}" alt=""
                                                             class="img-fluid">
                                                    {% endif %}
                                                </div>
                                                <div class="name">
                                                    <h3 class="m-0 p-0">{{ new.author.name }} {{ new.author.surname }}</h3>
                                                </div>
                                            </a>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            {% else %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-lg-3">
                        {% for new in politicsNews|slice(4, 12) %}
                            {% if new is not empty %}

                                <div class="post-entry-1 border-bottom">
                                    <div class="post-meta"><span
                                                class="date">{{ new.category.categoryname }}</span> <span
                                                class="mx-1">&bullet;</span>
                                        <span>{{ new.publishedAt|date('M jS Y') }}</span></div>
                                    <a href="{{ path('app_public_profile',{'id':new.author.id}) }}">
                                        <span class="author mb-3 d-block">{{ new.author.name }} {{ new.author.surname }}</span>
                                    </a>
                                    <h2 class="mb-2"><a href="{{ path('app_post',{'id':new.id}) }}">
                                            {{ new.title }}
                                        </a></h2>
                                </div>
                            {% else %}
                            {% endif %}
                        {% endfor %}
                    </div>


                </div>
            </div>
        </section>
        <!-- End Finance Category Section -->

        <!-- ======= Technology Section ======= -->
        <section class="category-section">
            <div class="container" data-aos="fade-up">

                <div class="section-header d-flex justify-content-between align-items-center mb-5">
                    <h2>Technology</h2>
                    <div><a href="" class="more"></a></div>
                </div>

                <div class="row">
                    <div class="col-md-9 order-md-2">
                        {% for new in technologyNews|slice(0, 4) %}
                            {% if new is not empty %}
                                <div class="d-md-flex post-entry-2 half">
                                    <a href="{{ path('app_post', {'id': new.id}) }}">
                                        {% if new.image is not empty %}
                                            <img src="{{ asset(new.image) }}" alt="" class="img-fluid"
                                                 style="padding: 10px; max-width: 300px; max-height: 400px;">
                                        {% else %}
                                            <div style="width: 300px; height: 300px; background-color: #ffffff;"></div>
                                        {% endif %}
                                    </a>
                                    <div>
                                        <div class="post-meta"><span
                                                    class="date">{{ new.category.categoryname }}</span>
                                            <span
                                                    class="mx-1">&bullet;</span>
                                            <span>{{ new.publishedAt|date('M jS Y') }}</span>
                                        </div>
                                        <h3><a href="{{ path('app_post',{'id':new.id}) }}">
                                                {{ new.title }}</a></h3>
                                        <p>{{ new.content|slice(0, 250) }}...</p>
                                        <div class="d-flex align-items-center author">

                                            <a href="{{ path('app_public_profile',{'id':new.author.id}) }}">
                                                <div class="photo">
                                                    {% if new.author.profileImage is not empty %}
                                                        <img src="{{ asset(new.author.profileImage) }}" alt=""
                                                             class="img-fluid">
                                                    {% endif %}
                                                </div>
                                                <div class="name">
                                                    <h3 class="m-0 p-0">{{ new.author.name }} {{ new.author.surname }}</h3>
                                                </div>
                                            </a>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            {% else %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-lg-3">
                        {% for new in technologyNews|slice(4, 12) %}
                            {% if new is not empty %}

                                <div class="post-entry-1 border-bottom">
                                    <div class="post-meta"><span
                                                class="date">{{ new.category.categoryname }}</span> <span
                                                class="mx-1">&bullet;</span>
                                        <span>{{ new.publishedAt|date('M jS Y') }}</span></div>
                                    <a href="{{ path('app_public_profile',{'id':new.author.id}) }}">
                                        <span class="author mb-3 d-block">{{ new.author.name }} {{ new.author.surname }}</span>
                                    </a>
                                    <h2 class="mb-2"><a href="{{ path('app_post',{'id':new.id}) }}">
                                            {{ new.title }}
                                        </a></h2>
                                </div>
                            {% else %}
                            {% endif %}
                        {% endfor %}
                    </div>


                </div>
            </div>
        </section>
        <!-- End Technology Category Section -->


        <!-- ======= Sports Category Section ======= -->
        <section class="category-section">
            <div class="container" data-aos="fade-up">

                <div class="section-header d-flex justify-content-between align-items-center mb-5">
                    <h2>Sports</h2>
                    <div><a href="" class="more"></a></div>
                </div>

                <div class="row">
                    <div class="col-md-9 order-md-2">
                        {% for new in sportsNews|slice(0, 4) %}
                            {% if new is not empty %}
                                <div class="d-md-flex post-entry-2 half">
                                    <a href="{{ path('app_post', {'id': new.id}) }}">
                                        {% if new.image is not empty %}
                                            <img src="{{ asset(new.image) }}" alt="" class="img-fluid"
                                                 style="padding: 10px; max-width: 300px; max-height: 400px;">
                                        {% else %}
                                            <div style="width: 300px; height: 300px; background-color: #ffffff;"></div>
                                        {% endif %}
                                    </a>
                                    <div>
                                        <div class="post-meta"><span
                                                    class="date">{{ new.category.categoryname }}</span>
                                            <span
                                                    class="mx-1">&bullet;</span>
                                            <span>{{ new.publishedAt|date('M jS Y') }}</span>
                                        </div>
                                        <h3><a href="{{ path('app_post',{'id':new.id}) }}">
                                                {{ new.title }}</a></h3>
                                        <p>{{ new.content|slice(0, 250) }}...</p>
                                        <div class="d-flex align-items-center author">

                                            <a href="{{ path('app_public_profile',{'id':new.author.id}) }}">
                                                <div class="photo">
                                                    {% if new.author.profileImage is not empty %}
                                                        <img src="{{ asset(new.author.profileImage) }}" alt=""
                                                             class="img-fluid">
                                                    {% endif %}
                                                </div>
                                                <div class="name">
                                                    <h3 class="m-0 p-0">{{ new.author.name }} {{ new.author.surname }}</h3>
                                                </div>
                                            </a>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            {% else %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-lg-3">
                        {% for new in sportsNews|slice(4, 12) %}
                            {% if new is not empty %}

                                <div class="post-entry-1 border-bottom">
                                    <div class="post-meta"><span
                                                class="date">{{ new.category.categoryname }}</span> <span
                                                class="mx-1">&bullet;</span>
                                        <span>{{ new.publishedAt|date('M jS Y') }}</span></div>
                                    <a href="{{ path('app_public_profile',{'id':new.author.id}) }}">
                                        <span class="author mb-3 d-block">{{ new.author.name }} {{ new.author.surname }}</span>
                                    </a>
                                    <h2 class="mb-2"><a href="{{ path('app_post',{'id':new.id}) }}">
                                            {{ new.title }}
                                        </a></h2>
                                </div>
                            {% else %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!-- End Sport Category Section -->,


        <!--  Finance Category Section -->
        <section class="category-section">
            <div class="container" data-aos="fade-up">

                <div class="section-header d-flex justify-content-between align-items-center mb-5">
                    <h2>Finance</h2>
                    <div><a href="" class="more"></a></div>
                </div>

                <div class="row">
                    <div class="col-md-9 order-md-2">
                        {% for new in financeNews|slice(0, 4) %}
                            {% if new is not empty %}
                                <div class="d-md-flex post-entry-2 half">
                                    <a href="{{ path('app_post', {'id': new.id}) }}">
                                        {% if new.image is not empty %}
                                            <img src="{{ asset(new.image) }}" alt="" class="img-fluid"
                                                 style="padding: 10px; max-width: 300px; max-height: 400px;">
                                        {% else %}
                                            <div style="width: 300px; height: 300px; background-color: #ffffff;"></div>
                                        {% endif %}
                                    </a>
                                    <div>
                                        <div class="post-meta"><span
                                                    class="date">{{ new.category.categoryname }}</span>
                                            <span
                                                    class="mx-1">&bullet;</span>
                                            <span>{{ new.publishedAt|date('M jS Y') }}</span>
                                        </div>
                                        <h3><a href="{{ path('app_post',{'id':new.id}) }}">
                                                {{ new.title }}</a></h3>
                                        <p>{{ new.content|slice(0, 250) }}...</p>
                                        <div class="d-flex align-items-center author">

                                            <a href="{{ path('app_public_profile',{'id':new.author.id}) }}">
                                                <div class="photo">
                                                    {% if new.author.profileImage is not empty %}
                                                        <img src="{{ asset(new.author.profileImage) }}" alt=""
                                                             class="img-fluid">
                                                    {% endif %}
                                                </div>
                                                <div class="name">
                                                    <h3 class="m-0 p-0">{{ new.author.name }} {{ new.author.surname }}</h3>
                                                </div>
                                            </a>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            {% else %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-lg-3">
                        {% for new in financeNews|slice(4, 12) %}
                            {% if new is not empty %}

                                <div class="post-entry-1 border-bottom">
                                    <div class="post-meta"><span
                                                class="date">{{ new.category.categoryname }}</span> <span
                                                class="mx-1">&bullet;</span>
                                        <span>{{ new.publishedAt|date('M jS Y') }}</span></div>
                                    <a href="{{ path('app_public_profile',{'id':new.author.id}) }}">
                                        <span class="author mb-3 d-block">{{ new.author.name }} {{ new.author.surname }}</span>
                                    </a>
                                    <h2 class="mb-2"><a href="{{ path('app_post',{'id':new.id}) }}">
                                            {{ new.title }}
                                        </a></h2>
                                </div>
                            {% else %}
                            {% endif %}
                        {% endfor %}
                    </div>


                </div>
            </div>
        </section>
        <!-- End Finance Category Section -->

    </main>
    <!-- End #main -->

{% endblock %}



{% block javascripts %}
    <!-- Vendor JS Files -->
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('vendor/swiper/swiper-bundle.min.js') }}"></script>
    <script src="{{ asset('vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ asset('vendor/aos/aos.js') }}"></script>
    <script src="{{ asset('vendor/php-email-form/validate.js') }}"></script>

    <!-- Template Main JS File -->
{% endblock %}



